@media (min-width: 1200px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
        
        .mainline {
            display: grid;
            grid-template-columns: 1fr 1fr  1fr 1fr;
            gap: 30px;
            grid-auto-flow: row dense;
            height: min-content;
            padding: 30px;
        }
        .useful{
            width: 100%;
        margin-bottom: 50px;
        }

        .href {
padding: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            // height: max-content;
            gap: 30px;
            
        }

        .usefulitem {
            padding: 20px;
            height: 300px;
            max-height: 400px;
            display: grid;
            grid-template-rows: 3fr 3fr;
            gap: 20px;



            a {
                width: 100%;
                height: 100%;
            }


            .usefulimg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }



            .usefulimg img {
                max-width: 90%;
                max-height: 100%;
                border-radius: 3px;
            }

            .usefulname {
                height: 100%;
                width: 100%;
                text-align: center;
                font-size: max(80%, 18px);
            }
        }

        .photo_org_wrap {

            margin-top: 20px;
            width: 100%;
        }

        .photo_org_wrap img {
            width: 100%;
            border-radius: 18px;
        }

    }
#Video{
    
         grid-column: span 2;
         padding: 20px;
       
}
#QR2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
}
.National {
    padding: 20px;
 
}


    #QR {
        grid-row: span 2;
        grid-column: span 2;
        overflow: hidden;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        // img {
        //     height: 100%;
        // }
    }

    #GOSUSLUGI {
        height: 100%;
        overflow: hidden;
        grid-column: span 3;
        display: grid;
    }

    #map {
        height: min-content;
        grid-column: span 4;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (max-width: 767px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;

        width: 100vw;

        .mainline {
            padding: 10px;
            width: calc(100vw - 20px);

            max-width: 100%;
            // padding: 25px;
            padding-top: 0px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;

            height: min-content;
        }

        .useful {

            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
            align-items: center;
            /* padding-left: 5px;
            padding-right: 5px; */


        }

        .href {

            display: grid;
            grid-template-columns: 1fr;
            // height: max-content;
            gap: 15px;
            width: calc(100% - 20px);
            // padding: 10px;
            padding-bottom: 10px;
        }

        .usefulitem {
            width: calc(100% - 40px);
            padding: 20px;

            display: flex;
            flex-direction: column;

            gap: 20px;

            a {
                width: 100%;
                height: 100%;
            }

            .usefulimg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;


                img {
                    width: 90%;
                    max-width: 90%;

                    border-radius: 3px;
                }
            }





            .usefulname {


                width: 100%;
                text-align: center;
                font-size: max(80%, 18px);
            }
        }

        .photo_org_wrap {

            width: 100vw;
        }

        .photo_org_wrap img {
            width: 100%;
        }

        #QR {
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        #GOSUSLUGI {
            overflow: hidden;
            width: 100%;
        }

        #map {
            overflow: hidden;
            height: min-content;
            width: 100%;
        }

    }
}