/* .app{
    font-size: 8pt;
    letter-spacing: 1px;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
}
.Main{
    font-size: 150%;
}
.menu-font-size{
   font-weight: 300;
    font-size: 170%;
}
.nav-font-size{
    font-weight: 300;
    font-size: 170%;
}
.font-read{
    font-size: 150%;
}
.btn_read{
    font-size: 20px;
}
.Footer{
    font-size: 200%;
}

.blank p{
    font-size: 20px;
    } */



