.text-info{
    
  
    text-align: left;
    word-wrap: normal;
    display: flex;
    justify-content: center;
    
  

}
.text-info pre{
    white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word; 

 line-height: 1.5;
 width: calc(100% - 80px);
 margin-top: 20px;
 padding: 20px;
}
@media screen and (min-width: 500px) {
    .text-info pre{
 
        width: calc(100% - 80px);
    
    }
  }
  @media screen and (max-width: 500px) {
    .text-info pre{
 
        width: 100%;
       
       }
  }
